/* src/style.css */
:root {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light; 
  color: #000000;
  background-color: #6c325e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  width: 100%;
}

.button-like {
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #e0e0e0; 
  color: #000000; 
  border: 1px solid #cccccc; 
  border-radius: 0; 
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.button-like:hover {
  background-color: #000000;
  color: #ffffff; 
  border-color: #000000;
}

button {
  border: none;
}

.search-box {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0;
  border: 1px solid #cccccc;
  background-color: #ffffff; 
  color: #000000;
  box-sizing: border-box;
}

.contact-list ul {
  list-style: none;
  padding: 0;
}

.contact-list li {
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  border: 1px solid #e0e0e0;
}

.contact-list li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #333333; 
  transition: background-color 0.2s;
}

.contact-list li a:hover {
  background-color: #e0e0e0; 
  color: #000000;
}

/* 联系人详情 */
.contact-details {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 1.5rem;
}

.contact-details h2 {
  margin-top: 0;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 0.5rem;
}

.contact-details p {
  line-height: 1.6;
  font-size: 1.1rem;
}

.contact-details .actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.button-like.danger {
  background-color: #333333;
  color: #ffffff;
  border-color: #000000;
}

.button-like.danger:hover {
  background-color: #c00000; 
  border-color: #c00000;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form h2 {
  color: #000000;
}

.contact-form input {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 0;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #000000;
}

.contact-form button {
  align-self: flex-start;
  padding: 0.8em 1.5em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #000000; 
  color: #ffffff; 
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.25s;
  border: none;
}

.contact-form button:hover {
  background-color: #444444; 
}